
{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->

        {% block stylesheets %}
            {#<link rel="stylesheet" href="{{ asset('build/app.css') }}">#}
            {{ encore_entry_link_tags('app') }}
            
        {% endblock %}

        {% block javascripts %}
            {#<script scr="{{ asset('styles/build/app.js') }}"></script>#}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>


    <body>
        <div>
            <button class="btnRed">Red</button>
            <button class="btnBlue">Yellow</button>
            <button class="btn yellow">My Button</button>
        </div>
    </body>
</html>